.container {
  margin: 5rem 10rem;
  width: 700px;
}

.satu {
  width: 200px;
  height: 200px;
  border: solid;
  border-image-source: url(img/hearts.png);
  background-color: green;
  border-image-width: 20px;
  border-image-outset: 20px;
  border-image-repeat: round;
  border-image-slice: 20 22;
  margin-bottom: 2rem;
  box-shadow: 30px 30px black;

}


.dua {
  width: 200px;
  height: 200px;
  border-image-source: url(img/border1.png);
  border-image-width: 30px;
  background-color: blue;
  border-image-repeat: round;
  border-image-width: 20px;
  border-image-repeat: round;
  border-image-slice: 35;
  box-shadow: 3px 4px 10px black;

}